@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #181818;
  --color-card: #212121;
  --color-text-primary: #F7F7F7;
  --color-accent-orange: #FF5722;
  --color-accent-purple: #673AB7;
  --color-accent-hover: #FFEB3B;
  --color-input: #2C2C2C;
  --color-border: #444;
}



@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
